Assets/Fonts/*
Assets/Imported/*
Assets/Materials/*
Assets/Models/*
Assets/prefabs/*
Assets/Shaders/*
Assets/Textures/*
Library/*
Logs/*
obj/*
Temp/*
.vs/*

*.meta
*.png
*.jpeg
*.jpg
*.asset
*.dwlt
*.dwIt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2021.dwlt
